@import "./base.vars.less";
@margin: 8px;
html,
body {
  position: absolute;
  top: @margin;
  bottom: @margin;
  left: @margin;
  right: @margin;
  margin: @margin;
  padding: 0;
  color: @color-text;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
}
